# Build
/build/
/build-lxqt-tools/
/third_party/install/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Qt Creator
*.user
*.pro.user

# VS Code
.vscode/

# CLion
.idea/
